h1 {
  text-align: center;
  margin-top: 50px;
}

img {
  vertical-align: text-bottom;
}

li {
  text-align: center; list-style: none;
}

a {
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.home{
  padding: 7px;
  margin: 10px;
}

.Photo {
  margin: 10px;
  padding: 7px;
}

.video {
  margin: 10px;
  padding: 7px;
}

.music {
  margin: 10px;
  padding: 7px;
}

.menu-bar {
  positon :relative;
}

.menu-bar a:hover {
  transition: 0.3s;
  font-size: 28px;
  border-bottom-width:5px; border-bottom-style:solid; border-bottom-color:#FF675A
}

.sns li {
  text-align:right ;
  margin-right: 30px;
}

.sns img:hover {
  transition: 0.3s;
  transform: scale(1.2);
  filter: invert(100%);
}

.sns {
  position: absolute;
  right: 30px;
  top: 8px;
}
.dog-photo {
  margin-left: 200px;
  margin-top: 50px;
}

.dog-photo2 {
  margin-left: 200px;
  margin-top: 20px;
}

.dog-photo3 {
  margin-left: 200px;
  margin-top: 20px;
}

.dog-photo img {
   margin-left: 20px;
   border-radius: 5%;
   transition: 0.3s;
}

.dog-photo2 img {
   margin-left: 20px;
   border-radius: 5%;
   transition: 0.3s;
}

.dog-photo3 img {
   margin-left: 20px;
   border-radius: 5%;
   transition: 0.3s;
}

.dog-photo img:hover {
  transform: scale(1.4);
}

.dog-photo2 img:hover {
  transform: scale(1.4);
}

.dog-photo3 img:hover {
  transform: scale(1.4);
}
